{% extends "blog/base.html" %}
{% block content %}

    <div class="media content-section" style="margin-top:20px;">
        <img class="rounded-circle account-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class='article-metadata'>
                 <a href="{% url 'user-post' object.author.username %}">{{object.author}}</a>
                <small class='text-muted'>{{object.date_posted|date:"F d, Y"}}</small>
                {% if object.author == user %}
                <div>
                    <a class="btn btn-outline-danger mb-2" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-outline-info mb-2" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
          <h2 class="article-title">{{object.title}}</h2> 
          <p class="article-text">{{object.content}}</p>
        </div>
    </div>

 
{% endblock content %}